<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/static/main.css">

<body>


<div>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" style="background-color: red;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    <h3>Sudoku solver</h3>
    <p>
        It's my Flask shell for <a href="https://towardsdatascience.com/solve-sudokus-automatically-4032b2203b64"
                                   target="_blank">this solution</a>
    </p>
    <br>
    {% block content %}

    {% endblock content %}
</div>
</body>
<footer>
    <div class="footer">
        <p>
            Contacts
        </p>
        <a class="button fa fa-github" href="https://github.com/poputu/sudoku_solver" target='_blank'>
            View on github
        </a>
        <br>
        <a class="button fa fa-twitter" href="https://twitter.com/MrPoputu" target='_blank'>
            Mrpoputu
        </a>

    </div>
</footer>
</html>