{% extends "base.html" %}


{% block title %}
    Sudoku solver
{% endblock title %}

{% block content %}




    <div class="mytable">
        <form action="/" method="POST" class="sell">
            <table>
                <tr>
                    <td><input id="myInput" type="number" name="row0" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" step="1.0" required></td>
                    <td><input type="number" name="row0" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row0" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row0" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row0" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row0" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row0" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row0" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row0" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                </tr>

                <tr>
                    <td><input type="number" name="row1" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row1" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row1" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row1" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row1" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row1" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row1" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row1" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row1" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                </tr>
                <tr>
                    <td><input type="number" name="row2" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row2" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row2" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row2" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row2" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row2" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row2" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row2" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row2" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                </tr>
                <tr>
                    <td><input type="number" name="row3" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row3" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row3" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row3" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row3" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row3" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row3" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row3" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row3" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                </tr>
                <tr>
                    <td><input type="number" name="row4" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row4" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row4" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row4" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row4" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row4" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row4" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row4" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row4" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                </tr>
                <tr>
                    <td><input type="number" name="row5" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row5" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row5" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row5" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row5" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row5" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row5" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row5" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row5" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                </tr>
                <tr>
                    <td><input type="number" name="row6" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row6" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row6" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row6" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row6" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row6" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row6" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row6" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row6" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                </tr>
                <tr>
                    <td><input type="number" name="row7" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row7" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row7" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row7" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row7" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row7" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row7" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row7" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row7" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                </tr>
                <tr>
                    <td><input type="number" name="row8" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row8" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row8" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row8" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row8" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row8" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row8" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row8" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                    <td><input type="number" name="row8" value="0" min="0" max="9" onfocus="this.value=''"
                               onblur="if (this.value=='') this.value='0';" required></td>
                </tr>

            </table>
            <input type="submit" class="button" value="Try to solve">
            <input type="reset" class="button" onclick="window.location.href='/'">

        </form>
    </div>

    <script>

        $(":input").on('input', function () {

            if (this.value.length > 1) {
                this.value = this.value.toString().slice(1);
            }
        });
    </script>

{% endblock content %}